.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .navbar .logo {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
  }

  .navbar .navbar-brand p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: #FFFFFF;
    font-weight: 300;
    text-align: left;
  }